

RewriteEngine On

RewriteCond %{HTTP_HOST} ^login-system-2.herokuapp.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.login-system-2.herokuapp.com$
RewriteCond %{REQUEST_URI} !folder/
RewriteRule (.*) /public/$1 [L]